<header class="markdown pb-8 mb-8 border-b-2 border-grey-300">
    <h1>{{ title }}</h1>
</header>

<article class="markdown pb-8">
    <p><b>HTML:</b> default.lunar.html</p>
    {{ content | markdown }}
</article>
