<main class="blog-revelare">
    {{ if get:q }}
    <section class="artigos header bg-white">
        <div class="container">
            <div class="info-search">
                <h3> Buscando por: {{ get:q }} </h3>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-content">
                        {{ search:results index="default" as="posts"}}
                        {{ posts }}
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card text-center mb-5">
                                    <a href="">
                                        {{ imgchamada }}
                                        <img alt="Artigo" class="img-card" loading src="{{url}}">
                                        {{ /imgchamada }}
                                    </a>
                                    <div class="card-body">
                                        <h4>
                                            <a href="{{ url }}"> {{ title }} </a>
                                        </h4>
                                        <div class="status-artigo-card">
                                            <div class="date">
                                                <img src="/img/calendar2.png" class="" alt="Calendário">
                                                <small>{{ date }}</small>
                                            </div>
                                            <div class="like">
                                                <img src="/img/like.png" class="" alt="Calendário">
                                                <small>{{ like }}</small>
                                            </div>
                                        </div>
                                        <p>
                                            {{ replicator }}
                                            {{ contents }}
                                            {{ /replicator }}
                                        </p>
                                        <div class="line"></div>
                                        <div class="tags">
                                            {{ tag-entrada }}
                                            <div class="tags-contents"> <a href="{{url}}"> <small> {{ title }} </small>
                                                </a> </div>
                                            {{ /tag-entrada }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ /posts }}
                        {{ /search:results }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ else }}

    <section class="header bg-gray">
        <div class="container">
            <div class="header-title">
                <h1> Destaques </h1>
                <hr>
            </div>
            <div class="row" style="align-items: start;">
                {{ collection:artigos sort="date:desc" as="posts"}}
                {{ posts }}
                {{ if index=="0" }}
                <div class="col-sm-8">
                    <div class="img1" style="background-image: url({{imgchamada:url}});">
                        <div class="img1-content">
                            <a href="{{ url }}">
                                <title> {{ title }} </title>
                            </a>
                            <div class="status">
                                <div class="date">
                                    <img src="/img/calendar-destaques.png" class="date-img" alt="Calendário">
                                    <small> {{ date }} </small>
                                </div>
                                <div class="like">
                                    <img src="/img/like-destaques.png" class="like-img" alt="Calendário">
                                    <small>{{ like }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ /if }}
                {{ /posts }}
                {{ /collection:artigos }}

                <div class="col-sm-4">
                    <div class="row line-img1">
                        {{ collection:artigos sort="date:desc" as="posts"}}
                        {{ posts }}
                        {{ if index=="1" }}
                        <div class="img2" style="background-image: url({{imgchamada:url}})">
                            <div class="img2-content">
                                <a href="{{ url }}">
                                    <title> {{ title }} </title>
                                </a>
                                <div class="status">
                                    <div class="date">
                                        <img src="/img/calendar-destaques.png" class="date-img" alt="Calendário">
                                        <small>{{ date }}</small>
                                    </div>
                                    <div class="like">
                                        <img src="/img/like-destaques.png" class="like-img" alt="Calendário">
                                        <small>{{ like }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ /if }}
                        {{ /posts }}
                        {{ /collection:artigos }}
                    </div>
                    <div class="row line-img2">
                        {{ collection:artigos sort="date:desc" as="posts"}}
                        {{ posts }}
                        {{ if index=="2" }}
                        <div class="img3" style="background-image: url({{imgchamada:url}})">
                            <div class="img3-content">
                                <a href="{{ url }}">
                                    <title> {{ title }} </title>
                                </a>
                                <div class="status">
                                    <div class="date">
                                        <img src="/img/calendar-destaques.png" class="date-img" alt="Calendário">
                                        <small>{{ date }}</small>
                                    </div>
                                    <div class="like">
                                        <img src="/img/like-destaques.png" class="like-img" alt="Calendário">
                                        <small>{{ like }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ /if }}
                        {{ /posts }}
                        {{ /collection:artigos }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="artigos bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/">
                        <div class="select">
                            <select class="form-select" id="select" name="select" aria-label="Default select example">
                                <option selected>Tag</option>
                                {{ collection:tags }}
                                <option value="{{slug}}" type="search" name="q">{{title}}</option>
                                {{ /collection:tags }}
                            </select>
                            <select class="form-select" type="search" name="q" aria-label="Default select example">
                                <option selected>Data</option>
                                {{ collection:artigos }}
                                <option value="{{slug}}">{{ date }}</option>
                                {{ /collection:artigos }}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-8">
                    <div class="card-content" id="listar">
                        {{ collection:artigos limit="3" offset="3" as="posts"}}
                        {{ posts }}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card text-center mb-5">
                                    <a href="">
                                        {{ imgchamada }}
                                        <img alt="Artigo" class="img-card" id="img" loading src="{{url}}">
                                        {{ /imgchamada }}
                                    </a>
                                    <div class="card-body">
                                        <h4 id="title">
                                            <a href="{{ url }}"> {{ title }} </a>
                                        </h4>
                                        <div class="status-artigo-card">
                                            <div class="date">
                                                <img src="/img/calendar2.png" class="" alt="Calendário">
                                                <small id="data">{{ date }}</small>
                                            </div>
                                            <div class="like">
                                                <img src="/img/like.png" class="" alt="Calendário">
                                                <small id="like">{{ like }}</small>
                                            </div>
                                        </div>
                                        <p id="contents">
                                            {{ replicator }}
                                            {{ contents }}
                                            {{ /replicator }}
                                        </p>
                                        <div class="line"></div>
                                        <div class="tags">
                                            {{ tag-entrada }}
                                            <div class="tags-contents"> <a href="{{url}}"> <small id="tags"> {{
                                                        title }} </small>
                                                </a> </div>
                                            {{ /tag-entrada }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ /posts }}
                        {{ /collection:artigos }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="tags-content">
                        <hr>
                        <div class="tags">
                            {{ collection:tags }}
                            <div class="tags-contents"> <a href="{{url}}"> <small> {{ title }} </small> </a> </div>
                            {{ /collection:tags }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="listar-artigos">
                <button class="button" onclick="listarArtigos()"> VER MAIS POSTAGENS </button>
            </div>
        </div>
    </section>
    {{ endif }}
</main>

<script>
    let page = 3;
    function listarArtigos() {
        fetch(`/artigos/listar?page=${page}`)
            .then(function (resposta) {
                resposta.text().then(function (resposta) {
                    var listar = document.querySelector('div#listar');
                    var div = document.createElement('div');
                    div.innerHTML = resposta;
                    listar.appendChild(div.firstChild);
                    page++;
                });
            })
    }
</script>