<main>
    {{ artigos }}
    <div class="row">
        <tr>
            <div class="col-sm-12">
                <div class="card text-center mb-5">
                    <a href="">
                        {{ imgchamada }}
                        <img alt="Artigo" class="img-card" id="img" loading src="{{url}}">
                        {{ /imgchamada }}
                    </a>
                    <div class="card-body">
                        <h4 id="title">
                            <a href="{{ url }}"> {{ title }} </a>
                        </h4>
                        <div class="status-artigo-card">
                            <div class="date">
                                <img src="/img/calendar2.png" class="" alt="Calendário">
                                <small id="data">{{ date }}</small>
                            </div>
                            <div class="like">
                                <img src="/img/like.png" class="" alt="Calendário">
                                <small id="like">{{ like }}</small>
                            </div>
                        </div>
                        <p id="contents">
                            {{ replicator }}
                            {{ contents }}
                            {{ /replicator }}
                        </p>
                        <div class="line"></div>
                        <div class="tags">
                            {{ tag-entrada }}
                            <div class="tags-contents"> <a href="{{url}}"> <small id="tags"> {{
                                        title }} </small>
                                </a> </div>
                            {{ /tag-entrada }}
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </div>
    {{ /artigos }}
</main>