<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="navbar-brand">
            <a href="/">
                <div class="logo">
                    <img alt="" id="navbar-logo" src="/img/logo.svg">
                    <h7>marketing e tecnologia para crescimento de negócios</h7>
                </div>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" id="bbitem">
                    <form action="/" class="formulario">
                        <div class="search-box">
                            <a href="#" class="search-btn">
                                <img alt="Lupa" src="/img/lupa.svg">
                            </a>
                            <input type="search" name="q" class="search-txt" placeholder="PESQUISAR...">
                        </div>
                    </form>
                    <form action="/" class="formulario-mobile">
                        <div class="input-group mb-3 search-box-mobile">
                            <input type="search" name="q" class="form-control" placeholder="PESQUISAR..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>