@font-face {
    font-family: 'Allumi Std Regular';
    src: url('/fonts/10446.otf') format('opentype');
}

@font-face {
    font-family: 'Allumi Std Regular Italic';
    src: url('/fonts/10446it.otf') format('opentype');
}

* {
    font-family: "Allumi Std Regular", "Jura";
  }
  
.bg-white {
    background: white !important;
}
  
.bg-gray {
    background: #E5E2D7 !important;
}
  
.navbar {
    height: auto;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;

    .logo {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
        margin-top: 10px;
    
        img{
            margin-right: 3%;
        }
        
        h7 {
            font: italic normal normal 17px/30px Fira Sans;
            color: #004E7D;
            opacity: 1;  
        }
    }

    .formulario {
        .search-box {
            position: relative;
            border-radius: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .search-txt {
                border: none;
                background: none;
                outline: none;
                padding: 0;
                font-size: 16px;
                line-height: 40px;
                width: 0px;
                transition: .7s;
            }
    
            ::-webkit-input-placeholder {
                color: #ACACAC;
                font-size: 14px;
                text-align: right;
                opacity: 1;
            }
    
            .search-btn {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
           
        .search-box:hover > .search-txt {
            line-height: 40px;
            width: 180px;
            padding: 0 6px;
        }
    }

    .formulario-mobile {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .navbar {
        .logo {
            h7 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        .search-box {
            top:10%;
        }
    }

    .formulario {
        .search-box {
            display: none !important;
        }
    }

    .formulario-mobile {
        display: block !important;
        margin-top: 3%;

        .search-box-mobile {
            ::-webkit-input-placeholder {
                color: #ACACAC;
                font-size: 14px;
                opacity: 1;
            }
        }
    }
}

.footer-content  {
    display: flex;
    justify-content: center;
    //align-items: flex-end;
    width: 100%;
    height: auto;
    margin-top: 5%;

    p {
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        color: #616168;
        margin-top: 1%;
    }
}

.header {
    display: flex;
    padding: 65px 0;
    align-items: center;
    margin-bottom: 3.5%;

    .header-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 6%;

        h1 {
            color: #004E7D;
        }
    
        hr {
            width: 86px;
            height: 3px;
            background: #004E7D;
            opacity: 1;
            margin-bottom: 3%;
        }
    }
    
    .img1 {    
        display: flex;
        align-items: flex-end;
        background-size: cover;
        padding-left: 5%;
        width: 100%;
        height: 598px;
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);   

        .img1-content {
            display: flex;
            flex-direction: column;        
            width: 85%;

            title {
                display: block;
                color: #F8F8F8;
                font-size: 30px;
            }

            .status {
                display: flex;
                flex-direction: row;  
                margin-top: 2%;
                margin-bottom: 5%;

                .like-img {
                    margin-left: 30px;
                }
                
                small {
                    color: #F8F8F8;
                    font-size: 14px;
                }
            }
        }
    }

    .img2 {
        display: flex;
        align-items: flex-end;
        background-size: cover;
        padding-left: 5%;
        width: 100%;
        height: 294px;
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);   

        .img2-content {
            display: flex;
            flex-direction: column;        
            width: 90%;

            title {
                display: block;
                color: #F8F8F8;
                font-size: 20px;
            }

            .status {
                display: flex;
                flex-direction: row;  
                margin-top: 2%;
                margin-bottom: 5%;

                .like-img {
                    margin-left: 30px;
                }
                
                small {
                    color: #F8F8F8;
                    font-size: 14px;
                }
            }
        }
    }

    .img3 {
        display: flex;
        align-items: flex-end;
        background-size: cover;
        padding-left: 5%;
        width: 100%;
        height: 294px;
        margin-top: 10px;
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);   

        .img3-content {
            display: flex;
            flex-direction: column;        
            width: 90%;

            title {
                display: block;
                color: #F8F8F8;
                font-size: 20px;
            }

            .status {
                display: flex;
                flex-direction: row;  
                margin-top: 2%;
                margin-bottom: 5%;

                .like-img {
                    margin-left: 30px;
                }
                
                small {
                    color: #F8F8F8;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header {
        .header-title {
            padding-top: 11%;
            padding-bottom: 4%;
        }

        .img1 {
            margin-bottom: 1.7%;
            height: 294px;
        }

        .line-img1 {
            margin-left: 0;
            margin-right: 0;
        }

        .line-img2 {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 575px) {
    .navbar .logo img {
        width: 225px
    }

    .listar-artigos {
        margin-top: 10%;
        margin-bottom: 10%;

        .button {
            font-size: 17px !important;
            width: 261px !important;
            height: 50px !important;
        }
    }
}

a {
    text-decoration: none;
}

.artigos {
    .info-search {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 8%;
        margin-bottom: 4%;

        h3 {
            color: #132D46;
        }
    }

    .select {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5%;
    }

    select {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        color: #707070;
        width: 25%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .listar-artigos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 2px;
            border-color: #074D80;
            color: #074D80;
            font-size: 18px;
            font-family: "Allumi Std Regular Italic";
            background-color: #fff;
            width: 306px;
            height: 55px;
            margin-top: 5%;
        }

        .button:hover {
            border: 2px solid #147AC4;
            color: #147AC4;
        }
    }

    .card {
        border: 0px;
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1); 

        .img-card {
            width: 100%;
            object-fit: cover;
        }

        .card-body {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            background-color: #F2EFE6;
            padding-top: 5%;
            padding-left: 4%;
            padding-right: 4%;
            
            h4 {
                font-size: 26px;
                a {
                    text-decoration: none;
                    color: #132D46;
                }
            }

            .status-artigo-card {
                display: flex;
                margin-top: 1%;

                .date {
                    display: flex;
                    align-items: center;
                    
                    small {
                        color: #8D8D8D;
                        font-size: 14px;
                        margin-left: 7%;
                    }
                }

                .like {
                    display: flex;
                    align-items: center;
                    margin-left: 17%;

                    small {
                        color: #8D8D8D;
                        font-size: 14px;
                        margin-left: 7%;
                    }
                }
            } 
        
            p {
                padding-top: 1%;
                width: 90%;
                text-align: justify;
                color: #272727;
                font-size: 16px;
                font-family: 'Fira Sans', sans-serif;
                overflow: hidden; 
                text-overflow: ellipsis; 
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical; 
            }

            .line {
                height: 0.3px;
                width: 100%;
                margin-top: 2%;
                margin-bottom: 1%;
                background-color: #1a1a1a;
                opacity: 0.5;
            }

            .tags{
                display: flex;
                flex-wrap: wrap;
                
                .tags-contents {
                    display: flex;
                    background-color: #8D8D8D;
                    border-radius: 6px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-right: 7px;
                    margin-top: 9px;

                    small {
                        font-family: 'Fira Sans', sans-serif;
                        color:#FFF;
                    }
                }
            }
        }
    }

    .tags-content {
        
        hr {
            height: 1px;
            color: #004E7D;
            margin-top: 0px;
            margin-bottom: 6px;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;

            .tags-contents {
                display: flex;
                background-color: #E8E8E8;
                border-radius: 6px;
                padding-top: 5px;
                padding-bottom: 4px;
                padding-left: 20px;
                padding-right: 20px;
                margin-right: 9px;
                margin-top: 9px;

                small {
                    font-family: 'Fira Sans', sans-serif;
                    color:#707070;
                }
            }
        }
    }
}

.artigo-header {
    display: flex;
    padding: 77px 0;
    align-items: center;

    .contents {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 6%;

        h1 {
            color: #004E7D;
            font-size: 55px;
            margin: 0rem 0;
        }

        hr {
            width: 100%;
            color: #9f946c;
            size: 1px;
        }

        .status-artigo {
            display: flex;
            margin-top: 0%;
            margin-bottom: 2%;
    
            .date {
                display: flex;
                align-items: center;
                
                small {
                    color: #8D8D8D;
                    font-size: 14px;
                    margin-left: 7%;
                }
            }
    
            .like {
                display: flex;
                align-items: center;
                margin-left: 30%;
    
                small {
                    color: #8D8D8D;
                    font-size: 14px;
                    margin-left: 7%;
                }
            }
        } 

        .img1 {
            width: 100%;
            height: 550px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2); 
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .artigo-header {
        padding-top: 77px;
        padding-bottom: 40px;

        .contents {
            padding-top: 9% !important;

            h1 {
                color: #004E7D;
                font-size: 55px;
                margin: 0rem 0;
            }

            .status-artigo {
                margin-bottom: 5% !important;
            }

            .img1{
                height: auto !important;
            }
        }
    }
    
    .paginate {
        margin-top: 15% !important;
        margin-bottom: 10% !important;
    }

    .artigo-relacionados {
        .header {
            margin-bottom: 10%;
        }
    }
}

.artigo-content {
    display: flex;
    
    .contents {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3%;

        p {
            color: #272727;
            font-size: 18px;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;

        hr {
            width: 100%;
            color: #9f946c;
            size: 1px;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;

            .tags-contents {
                display: flex;
                background-color: #E8E8E8;
                border-radius: 6px;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 20px;
                padding-right: 20px;
                margin-right: 9px;
                

                small {
                    font-family: 'Fira Sans', sans-serif;
                    color:#707070;
                }
            }
        }

        .footer-button{
            display: flex;
            
            .aplaudir {
                display: flex;
                flex-direction: column;
                
                h7 {
                    font-size: 16px;
                    color: #85B43A;
                }
    
                .btn_like {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    border: solid 0.2px;
                    border-color: #c6c0a8;
                    background-color: #fff;
                    margin-top: 10px;
                    width: 40px;
                    height: 40px;

                    &.liked {
                        background-color: #85B43A;

                        .fa-hands-clapping {
                            color: #FFF;
                            font-size: 25px;
                            transform: scaleX(-1);
                        }
                    }

                    &.liked:hover {
                        background-color: #FFF;
                        
                        .fa-hands-clapping {
                            color: #85B43A;
                            font-size: 25px;
                            transform: scaleX(-1);
                        }
                    }
                    
                    .fa-hands-clapping {
                        color: #8d8d8d;
                        font-size: 25px;
                        transform: scaleX(-1);
                    }
                }

                .btn_like:hover {
                    border-color: #85B43A;
                    background-color: #85B43A;

                    .fa-hands-clapping {
                        color: #fff;
                    }
                }
            }

            .compartilhar {
                display: flex;
                flex-direction: column;
                margin-left: 5%;
                
                h7 {
                    font-size: 16px;
                    color: #85B43A
                }
                
                a {
                    text-decoration: none;
                }

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    border: solid 0.2px;
                    border-color: #c6c0a8;
                    margin-top: 10px;
                    width: 40px;
                    height: 40px;

                    .fa-whatsapp {
                        color: #8d8d8d;
                        font-size: 25px;
                    }

                    .fa-facebook-f {
                        color: #8d8d8d;
                        font-size: 25px;
                    }

                    .fa-instagram {
                        color: #8d8d8d;
                        font-size: 25px;
                    }

                    .fa-linkedin-in {
                        color: #8d8d8d;
                        font-size: 25px;
                    }

                    .fa-twitter {
                        color: #8d8d8d;
                        font-size: 25px;
                    }

                    .fa-plus {
                        color: #8d8d8d;
                        font-size: 25px;
                    }
                }

                .button:hover {
                    border-color: #85B43A;
                    background-color: #85B43A;

                    .fa-whatsapp {
                        color: #fff;
                    }

                    .fa-facebook-f {
                        color: #fff;
                    }

                    .fa-instagram {
                        color: #fff;
                    }

                    .fa-linkedin-in {
                        color: #fff;
                    }

                    .fa-twitter {
                        color: #fff;
                    }

                    .fa-plus {
                        color: #fff;
                    }
                }
            }
        }

        .paginate{
            display: flex;
            justify-content: space-between;
            margin-top: 5%;

            .previous {
                display: flex;
                align-items: center;
                flex-direction: row;

                .previous-contents {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                }

                h7 {
                    font-size: 16px;
                    color: #B7B7B7;
                }

                small {
                    font-size: 16px;
                    color: #8D8D8D;
                }
            }

            .next {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;

                .next-contents {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                }

                h7 {
                    font-size: 16px;
                    color: #B7B7B7;
                }

                small {
                    font-size: 16px;
                    color: #8D8D8D;
                }
            }
        }
    }
}

.artigo-relacionados {
    display: flex;
    align-items: center;

    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 8%;
        padding-bottom: 0%;

        h1 {
            color: #004E7D;
        }
    
        hr {
            width: 86px;
            height: 4px;
            background: #004E7D;
            opacity: 1;
            margin-bottom: 3%;
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .row { 
            width: 100%;
            
            .card {
                margin-bottom: 8%;
                border: 0px;
                box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1); 
                
                .img-card {
                    height: 216px;
                    width: 100%;
                    object-fit: cover;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    background-color: #F2EFE6;
                    height: 306px;
                    padding-left: 7%;
                    padding-right: 7%;

                    title {
                        display: block;
                        color: #132D46;
                        font-size: 19px;
                    }

                    .status-artigo {
                        display: flex;
                        margin-top: 1%;
                        margin-bottom: 2%;
                
                        .date {
                            display: flex;
                            align-items: center;
                            
                            small {
                                color: #8D8D8D;
                                font-size: 14px;
                                margin-left: 7%;
                            }
                        }
                
                        .like {
                            display: flex;
                            align-items: center;
                            margin-left: 10%;
                
                            small {
                                color: #8D8D8D;
                                font-size: 14px;
                                margin-left: 7%;
                            }
                        }
                    } 

                    p {
                        color: #272727;
                        font-family: 'Fira Sans', sans-serif;
                        margin-top: 10%;
                        max-width: 55ch;
                        overflow: hidden; 
                        text-overflow: ellipsis; 
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical; 
                    }

                    hr {
                        margin-top: 0px;
                    }

                    .tags{
                        display: flex;
                        flex-wrap: wrap;
                        
                        .tags-contents {
                            display: flex;
                            background-color: #8D8D8D;
                            border-radius: 6px;
                            padding-top: 3px;
                            padding-bottom: 3px;
                            padding-left: 18px;
                            padding-right: 18px;
                            margin-right: 7px;
                            margin-top: 1px;
        
                            small {
                                font-family: 'Fira Sans', sans-serif;
                                color:#FFF;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tag-filter-title {
    padding-bottom: 0px;
   
    .header {
        hr {
            margin-bottom: 2%;
        } 
    }
}

.tag-filter {
    margin-top: 0%;
}