<main class="blog-revelare-artigo-detail">
    <section class="artigo-header bg-white">
        <div class="container">
            <div class="contents">
                <h1>{{ title }}</h1>
                <hr>
                <div class="status-artigo">
                    <div class="date">
                        <img src="/img/calendar2.png" class="" alt="Calendário">
                        <small>{{ date }}</small>
                    </div>
                    <div class="like">
                        <img src="/img/like.png" class="" alt="Calendário">
                        <small>{{ like }}</small>
                    </div>
                </div>
                <div class="img1">
                    {{ imgtopo }}
                    <img src="{{url}}" alt="Artigo">
                    {{ /imgtopo }}
                </div>
            </div>
        </div>
    </section>

    <section class="artigo-content bg-white">
        <div class="container">
            <div class="contents">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            {{ replicator }}
                        <div class="row">
                            <div class="col-12">
                                {{ contents }}
                            </div>
                            <div class="col-12 mb-4 video-content">
                                {{ video }}
                            </div>
                        </div>
                        {{ /replicator }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <hr>
                <div class="tags-content">
                    <div class="tags">
                        {{ tag-entrada }}
                        <div class="tags-contents"> <small> {{ title }} </small> </div>
                        {{ /tag-entrada }}
                    </div>
                </div>
                <hr>
                <div class="footer-button">
                    {{ csrf_field }}
                    <input type="hidden" name="slug" value="{{ slug }}">
                    <div class="aplaudir">
                        <h7>Aplaudir:</h7>
                        <button type="button" id="like" class="btn_like" data-post-slug="{{ slug }}">
                            <i class="fa-solid fa-hands-clapping" data-post-slug="{{ slug }}"></i>
                        </button>
                    </div>
                    <div class="compartilhar">
                        <h7>Compartilhar:</h7>

                        <div class="a2a_kit a2a_default_style">
                            <a class="a2a_button_facebook">
                                <div class="button">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </div>
                            </a>
                            <a class="a2a_button_linkedin">
                                <div class="button">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </div>
                            </a>
                            <a class="a2a_button_twitter">
                                <div class="button">
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                            </a>
                            <a class="a2a_button_whatsapp">
                                <div class="button">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </div>
                            </a>
                            <a class="a2a_dd" href="https://www.addtoany.com/share">
                                <div class="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                    </div>
                </div>
                <div class="paginate">
                    <div class="previous">
                        <img src="/img/anterior2.svg" border="0" alt="Whatsapp" width="50" height="70">
                        <div class="previous-contents">
                            <h7>Publicação anterior</h7>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small>
                        </div>
                    </div>
                    <div class="next">
                        <img src="/img/proximo2.svg" border="0" alt="Whatsapp" width="52" height="72">
                        <div class="next-contents">
                            <h7>Próxima publicação</h7>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="artigo-relacionados bg-white">
        <div class="container">
            <div class="header">
                <h1> Relacionados </h1>
                <hr>
            </div>
            <div class="card-content">
                <div class="row">
                    {{ collection:artigos limit="4" as="posts"}}
                    {{ posts }}
                    <div class="col-md-3">
                        <div class="card">
                            <img alt="" class="img-card" loading src="/img/cardimg.png">
                            <div class="card-body">
                                <div>
                                <title>{{ title }}</title>
                                <div class="status-artigo">
                                    <div class="date">
                                        <img src="/img/calendar2.png" class="" alt="Calendário">
                                        <small>{{ date }}</small>
                                    </div>
                                    <div class="like">
                                        <img src="/img/like.png" class="" alt="Like">
                                        <small>{{ like }}</small>
                                    </div>
                                </div>
                                </div>
                                <p>
                                    {{ replicator }}
                                    {{ contents }}
                                    {{ /replicator }}
                                </p>
                                <hr>
                                <div class="tags">
                                    {{ tag-entrada }}
                                    <div class="tags-contents"> <a href="{{url}}"> <small> {{ title }} </small>
                                        </a> </div>
                                    {{ /tag-entrada }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ /posts }}
                    {{ /collection:artigos }}
                </div>
            </div>
        </div>
    </section>
</main>