@font-face {
  font-family: "Allumi Std Regular";
  src: url("/fonts/10446.otf") format("opentype");
}
@font-face {
  font-family: "Allumi Std Regular Italic";
  src: url("/fonts/10446it.otf") format("opentype");
}
* {
  font-family: "Allumi Std Regular", "Jura";
}

.bg-white {
  background: white !important;
}

.bg-gray {
  background: #E5E2D7 !important;
}

.navbar {
  height: auto;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #fff;
}
.navbar .logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}
.navbar .logo img {
  margin-right: 3%;
}
.navbar .logo h7 {
  font: italic normal normal 17px/30px Fira Sans;
  color: #004E7D;
  opacity: 1;
}
.navbar .formulario .search-box {
  position: relative;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .formulario .search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  width: 0px;
  transition: 0.7s;
}
.navbar .formulario .search-box ::-webkit-input-placeholder {
  color: #ACACAC;
  font-size: 14px;
  text-align: right;
  opacity: 1;
}
.navbar .formulario .search-box .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .formulario .search-box:hover > .search-txt {
  line-height: 40px;
  width: 180px;
  padding: 0 6px;
}
.navbar .formulario-mobile {
  display: none;
}

@media screen and (max-width: 1199px) {
  .navbar .logo h7 {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .navbar .search-box {
    top: 10%;
  }

  .formulario .search-box {
    display: none !important;
  }

  .formulario-mobile {
    display: block !important;
    margin-top: 3%;
  }
  .formulario-mobile .search-box-mobile ::-webkit-input-placeholder {
    color: #ACACAC;
    font-size: 14px;
    opacity: 1;
  }
}
.footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.footer-content p {
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  color: #616168;
  margin-top: 1%;
}

.header {
  display: flex;
  padding: 65px 0;
  align-items: center;
  margin-bottom: 3.5%;
}
.header .header-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6%;
}
.header .header-title h1 {
  color: #004E7D;
}
.header .header-title hr {
  width: 86px;
  height: 3px;
  background: #004E7D;
  opacity: 1;
  margin-bottom: 3%;
}
.header .img1 {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  padding-left: 5%;
  width: 100%;
  height: 598px;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.header .img1 .img1-content {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.header .img1 .img1-content title {
  display: block;
  color: #F8F8F8;
  font-size: 30px;
}
.header .img1 .img1-content .status {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 5%;
}
.header .img1 .img1-content .status .like-img {
  margin-left: 30px;
}
.header .img1 .img1-content .status small {
  color: #F8F8F8;
  font-size: 14px;
}
.header .img2 {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  padding-left: 5%;
  width: 100%;
  height: 294px;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.header .img2 .img2-content {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.header .img2 .img2-content title {
  display: block;
  color: #F8F8F8;
  font-size: 20px;
}
.header .img2 .img2-content .status {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 5%;
}
.header .img2 .img2-content .status .like-img {
  margin-left: 30px;
}
.header .img2 .img2-content .status small {
  color: #F8F8F8;
  font-size: 14px;
}
.header .img3 {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  padding-left: 5%;
  width: 100%;
  height: 294px;
  margin-top: 10px;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.header .img3 .img3-content {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.header .img3 .img3-content title {
  display: block;
  color: #F8F8F8;
  font-size: 20px;
}
.header .img3 .img3-content .status {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 5%;
}
.header .img3 .img3-content .status .like-img {
  margin-left: 30px;
}
.header .img3 .img3-content .status small {
  color: #F8F8F8;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .header .header-title {
    padding-top: 11%;
    padding-bottom: 4%;
  }
  .header .img1 {
    margin-bottom: 1.7%;
    height: 294px;
  }
  .header .line-img1 {
    margin-left: 0;
    margin-right: 0;
  }
  .header .line-img2 {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .navbar .logo img {
    width: 225px;
  }

  .listar-artigos {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .listar-artigos .button {
    font-size: 17px !important;
    width: 261px !important;
    height: 50px !important;
  }
}
a {
  text-decoration: none;
}

.artigos .info-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8%;
  margin-bottom: 4%;
}
.artigos .info-search h3 {
  color: #132D46;
}
.artigos .select {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}
.artigos select {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #707070;
  width: 25%;
  margin-left: 1%;
  margin-right: 1%;
}
.artigos .listar-artigos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
.artigos .listar-artigos .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-color: #074D80;
  color: #074D80;
  font-size: 18px;
  font-family: "Allumi Std Regular Italic";
  background-color: #fff;
  width: 306px;
  height: 55px;
  margin-top: 5%;
}
.artigos .listar-artigos .button:hover {
  border: 2px solid #147AC4;
  color: #147AC4;
}
.artigos .card {
  border: 0px;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.artigos .card .img-card {
  width: 100%;
  object-fit: cover;
}
.artigos .card .card-body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F2EFE6;
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
}
.artigos .card .card-body h4 {
  font-size: 26px;
}
.artigos .card .card-body h4 a {
  text-decoration: none;
  color: #132D46;
}
.artigos .card .card-body .status-artigo-card {
  display: flex;
  margin-top: 1%;
}
.artigos .card .card-body .status-artigo-card .date {
  display: flex;
  align-items: center;
}
.artigos .card .card-body .status-artigo-card .date small {
  color: #8D8D8D;
  font-size: 14px;
  margin-left: 7%;
}
.artigos .card .card-body .status-artigo-card .like {
  display: flex;
  align-items: center;
  margin-left: 17%;
}
.artigos .card .card-body .status-artigo-card .like small {
  color: #8D8D8D;
  font-size: 14px;
  margin-left: 7%;
}
.artigos .card .card-body p {
  padding-top: 1%;
  width: 90%;
  text-align: justify;
  color: #272727;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.artigos .card .card-body .line {
  height: 0.3px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: #1a1a1a;
  opacity: 0.5;
}
.artigos .card .card-body .tags {
  display: flex;
  flex-wrap: wrap;
}
.artigos .card .card-body .tags .tags-contents {
  display: flex;
  background-color: #8D8D8D;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 7px;
  margin-top: 9px;
}
.artigos .card .card-body .tags .tags-contents small {
  font-family: "Fira Sans", sans-serif;
  color: #FFF;
}
.artigos .tags-content hr {
  height: 1px;
  color: #004E7D;
  margin-top: 0px;
  margin-bottom: 6px;
}
.artigos .tags-content .tags {
  display: flex;
  flex-wrap: wrap;
}
.artigos .tags-content .tags .tags-contents {
  display: flex;
  background-color: #E8E8E8;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 9px;
  margin-top: 9px;
}
.artigos .tags-content .tags .tags-contents small {
  font-family: "Fira Sans", sans-serif;
  color: #707070;
}

.artigo-header {
  display: flex;
  padding: 77px 0;
  align-items: center;
}
.artigo-header .contents {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 6%;
}
.artigo-header .contents h1 {
  color: #004E7D;
  font-size: 55px;
  margin: 0rem 0;
}
.artigo-header .contents hr {
  width: 100%;
  color: #9f946c;
  size: 1px;
}
.artigo-header .contents .status-artigo {
  display: flex;
  margin-top: 0%;
  margin-bottom: 2%;
}
.artigo-header .contents .status-artigo .date {
  display: flex;
  align-items: center;
}
.artigo-header .contents .status-artigo .date small {
  color: #8D8D8D;
  font-size: 14px;
  margin-left: 7%;
}
.artigo-header .contents .status-artigo .like {
  display: flex;
  align-items: center;
  margin-left: 30%;
}
.artigo-header .contents .status-artigo .like small {
  color: #8D8D8D;
  font-size: 14px;
  margin-left: 7%;
}
.artigo-header .contents .img1 {
  width: 100%;
  height: 550px;
}
.artigo-header .contents .img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 575px) {
  .artigo-header {
    padding-top: 77px;
    padding-bottom: 40px;
  }
  .artigo-header .contents {
    padding-top: 9% !important;
  }
  .artigo-header .contents h1 {
    color: #004E7D;
    font-size: 55px;
    margin: 0rem 0;
  }
  .artigo-header .contents .status-artigo {
    margin-bottom: 5% !important;
  }
  .artigo-header .contents .img1 {
    height: auto !important;
  }

  .paginate {
    margin-top: 15% !important;
    margin-bottom: 10% !important;
  }

  .artigo-relacionados .header {
    margin-bottom: 10%;
  }
}
.artigo-content {
  display: flex;
}
.artigo-content .contents {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
}
.artigo-content .contents p {
  color: #272727;
  font-size: 18px;
}
.artigo-content .footer {
  display: flex;
  flex-direction: column;
}
.artigo-content .footer hr {
  width: 100%;
  color: #9f946c;
  size: 1px;
}
.artigo-content .footer .tags {
  display: flex;
  flex-wrap: wrap;
}
.artigo-content .footer .tags .tags-contents {
  display: flex;
  background-color: #E8E8E8;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 9px;
}
.artigo-content .footer .tags .tags-contents small {
  font-family: "Fira Sans", sans-serif;
  color: #707070;
}
.artigo-content .footer .footer-button {
  display: flex;
}
.artigo-content .footer .footer-button .aplaudir {
  display: flex;
  flex-direction: column;
}
.artigo-content .footer .footer-button .aplaudir h7 {
  font-size: 16px;
  color: #85B43A;
}
.artigo-content .footer .footer-button .aplaudir .btn_like {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid 0.2px;
  border-color: #c6c0a8;
  background-color: #fff;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
.artigo-content .footer .footer-button .aplaudir .btn_like.liked {
  background-color: #85B43A;
}
.artigo-content .footer .footer-button .aplaudir .btn_like.liked .fa-hands-clapping {
  color: #FFF;
  font-size: 25px;
  transform: scaleX(-1);
}
.artigo-content .footer .footer-button .aplaudir .btn_like.liked:hover {
  background-color: #FFF;
}
.artigo-content .footer .footer-button .aplaudir .btn_like.liked:hover .fa-hands-clapping {
  color: #85B43A;
  font-size: 25px;
  transform: scaleX(-1);
}
.artigo-content .footer .footer-button .aplaudir .btn_like .fa-hands-clapping {
  color: #8d8d8d;
  font-size: 25px;
  transform: scaleX(-1);
}
.artigo-content .footer .footer-button .aplaudir .btn_like:hover {
  border-color: #85B43A;
  background-color: #85B43A;
}
.artigo-content .footer .footer-button .aplaudir .btn_like:hover .fa-hands-clapping {
  color: #fff;
}
.artigo-content .footer .footer-button .compartilhar {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.artigo-content .footer .footer-button .compartilhar h7 {
  font-size: 16px;
  color: #85B43A;
}
.artigo-content .footer .footer-button .compartilhar a {
  text-decoration: none;
}
.artigo-content .footer .footer-button .compartilhar .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid 0.2px;
  border-color: #c6c0a8;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
.artigo-content .footer .footer-button .compartilhar .button .fa-whatsapp {
  color: #8d8d8d;
  font-size: 25px;
}
.artigo-content .footer .footer-button .compartilhar .button .fa-facebook-f {
  color: #8d8d8d;
  font-size: 25px;
}
.artigo-content .footer .footer-button .compartilhar .button .fa-instagram {
  color: #8d8d8d;
  font-size: 25px;
}
.artigo-content .footer .footer-button .compartilhar .button .fa-linkedin-in {
  color: #8d8d8d;
  font-size: 25px;
}
.artigo-content .footer .footer-button .compartilhar .button .fa-twitter {
  color: #8d8d8d;
  font-size: 25px;
}
.artigo-content .footer .footer-button .compartilhar .button .fa-plus {
  color: #8d8d8d;
  font-size: 25px;
}
.artigo-content .footer .footer-button .compartilhar .button:hover {
  border-color: #85B43A;
  background-color: #85B43A;
}
.artigo-content .footer .footer-button .compartilhar .button:hover .fa-whatsapp {
  color: #fff;
}
.artigo-content .footer .footer-button .compartilhar .button:hover .fa-facebook-f {
  color: #fff;
}
.artigo-content .footer .footer-button .compartilhar .button:hover .fa-instagram {
  color: #fff;
}
.artigo-content .footer .footer-button .compartilhar .button:hover .fa-linkedin-in {
  color: #fff;
}
.artigo-content .footer .footer-button .compartilhar .button:hover .fa-twitter {
  color: #fff;
}
.artigo-content .footer .footer-button .compartilhar .button:hover .fa-plus {
  color: #fff;
}
.artigo-content .footer .paginate {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.artigo-content .footer .paginate .previous {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.artigo-content .footer .paginate .previous .previous-contents {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.artigo-content .footer .paginate .previous h7 {
  font-size: 16px;
  color: #B7B7B7;
}
.artigo-content .footer .paginate .previous small {
  font-size: 16px;
  color: #8D8D8D;
}
.artigo-content .footer .paginate .next {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.artigo-content .footer .paginate .next .next-contents {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.artigo-content .footer .paginate .next h7 {
  font-size: 16px;
  color: #B7B7B7;
}
.artigo-content .footer .paginate .next small {
  font-size: 16px;
  color: #8D8D8D;
}

.artigo-relacionados {
  display: flex;
  align-items: center;
}
.artigo-relacionados .header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8%;
  padding-bottom: 0%;
}
.artigo-relacionados .header h1 {
  color: #004E7D;
}
.artigo-relacionados .header hr {
  width: 86px;
  height: 4px;
  background: #004E7D;
  opacity: 1;
  margin-bottom: 3%;
}
.artigo-relacionados .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artigo-relacionados .card-content .row {
  width: 100%;
}
.artigo-relacionados .card-content .row .card {
  margin-bottom: 8%;
  border: 0px;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.artigo-relacionados .card-content .row .card .img-card {
  height: 216px;
  width: 100%;
  object-fit: cover;
}
.artigo-relacionados .card-content .row .card .card-body {
  display: flex;
  flex-direction: column;
  background-color: #F2EFE6;
  height: 306px;
  padding-left: 7%;
  padding-right: 7%;
}
.artigo-relacionados .card-content .row .card .card-body title {
  display: block;
  color: #132D46;
  font-size: 19px;
}
.artigo-relacionados .card-content .row .card .card-body .status-artigo {
  display: flex;
  margin-top: 1%;
  margin-bottom: 2%;
}
.artigo-relacionados .card-content .row .card .card-body .status-artigo .date {
  display: flex;
  align-items: center;
}
.artigo-relacionados .card-content .row .card .card-body .status-artigo .date small {
  color: #8D8D8D;
  font-size: 14px;
  margin-left: 7%;
}
.artigo-relacionados .card-content .row .card .card-body .status-artigo .like {
  display: flex;
  align-items: center;
  margin-left: 10%;
}
.artigo-relacionados .card-content .row .card .card-body .status-artigo .like small {
  color: #8D8D8D;
  font-size: 14px;
  margin-left: 7%;
}
.artigo-relacionados .card-content .row .card .card-body p {
  color: #272727;
  font-family: "Fira Sans", sans-serif;
  margin-top: 10%;
  max-width: 55ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.artigo-relacionados .card-content .row .card .card-body hr {
  margin-top: 0px;
}
.artigo-relacionados .card-content .row .card .card-body .tags {
  display: flex;
  flex-wrap: wrap;
}
.artigo-relacionados .card-content .row .card .card-body .tags .tags-contents {
  display: flex;
  background-color: #8D8D8D;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 7px;
  margin-top: 1px;
}
.artigo-relacionados .card-content .row .card .card-body .tags .tags-contents small {
  font-family: "Fira Sans", sans-serif;
  color: #FFF;
}

.tag-filter-title {
  padding-bottom: 0px;
}
.tag-filter-title .header hr {
  margin-bottom: 2%;
}

.tag-filter {
  margin-top: 0%;
}

/*# sourceMappingURL=styles.css.map */
