<main class="blog-revelare-tags">
    <section class="tag-filter-title header bg-white">
        <div class="container">
            <div class="header-title">
                <h1> {{ title }} </h1>
                <hr>
            </div>
        </div>
    </section>

    <section class="tag-filter artigos bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card-content">
                        {{collection:artigos limit="3" as="posts"}}
                        {{ posts }}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card text-center mb-5">
                                    <a href="">
                                        {{ imgchamada }}
                                        <img alt="Artigo" class="img-card" loading src="{{url}}">
                                        {{ /imgchamada }}
                                    </a>
                                    <div class="card-body">
                                        <h4><a href=""> {{ title }} </a>
                                        </h4>
                                        <div class="status-artigo-card">
                                            <div class="date">
                                                <img src="/img/calendar2.png" class="" alt="Calendário">
                                                <small>{{ date }}</small>
                                            </div>
                                            <div class="like">
                                                <img src="/img/like.png" class="" alt="Calendário">
                                                <small>{{ like }}</small>
                                            </div>
                                        </div>
                                        <p>
                                            {{ replicator }}
                                            {{ contents }}
                                            {{ /replicator }}
                                        </p>
                                        <div class="line"></div>
                                        <div class="tags">
                                            {{ tag-entrada }}
                                            <div class="tags-contents"> <small> {{ title }} </small> </div>
                                            {{ /tag-entrada }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ /posts }}
                        {{ /collection:artigos }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="tags-content">
                        <hr>
                        <div class="tags">
                            {{ collection:tags }}
                            <div class="tags-contents"> <a href="{{url}}"> <small> {{ title }} </small> </a> </div>
                            {{ /collection:tags }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="listar-artigos">
                <button class="button" onclick="listarArtigos()"> VER MAIS POSTAGENS </button>
            </div>
        </div>
    </section>
</main>